@model SkoButik.Models.Product

@{
    ViewData["Title"] = "Delete";
}

<style>
     .center-content {
         display: flex;
         flex-direction: column;
         align-items: center;
     }
</style>

<div class="center-content">
    <h3>Delete</h3>
    <div>
        <h4>Product</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProductName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProductName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                Image
            </dt>
            <dd class="col-sm-10">
                <img src="@Model.ImageUrl" alt="Product Image" class="border-info rounded-circle" style="max-width: 200px;" />
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Brand)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Brand.BrandName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Campaign)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Campaign.CampaignName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ProductId" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
</div>